// Colors
$white: #ffffff;
$beige: #be9b77;
$blue-dark: #212737;
$blue-very-dark: #141821;

$button-color: $white;
$main-color: $blue-dark;
$second-main-color: $beige;
$text-color: $white;
$heading-color: $white;
$footer-color: $blue-very-dark;

// Sizes
$padding-section: 30px 0;
$padding-section-tablet: 50px 0;

// Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 280px;
